@import 'prism-theme-vars/base.css';
@import 'prism-theme-vars/marker.css';

.slidev-code * {
  font-family: JetBrains;
}

/* Show language marker in code blocks.
 * This doesn't work in `magic-move` blocks, because those blocks use a different css layout.
 */
pre[class*='language-'] {
  @apply p-2 relative;
}

[class*='language-']::before {
  @apply absolute z-10 bg-dark-50 p-1 top-0 right-0 border-gray-500 text-light-500 font-bold opacity-100;
}

[class~='language-fsharp']::before {
  content: 'F#';
}

[class~='language-cs']::before {
  content: 'C#';
}

